{% extends "layout.html" %}

{% block head %}
    {{ super() }}  <!-- Retains the content of the head block from layout.html -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/index.css') }}">
    <title>Index Page</title>
{% endblock %}

{% block body %}
    <div class="nav">
        <a class="nav-control" href="{{ url_for('index') }}" class="home-link">Home</a>
        <a class="nav-control" href="{{ url_for('logout') }}" class="logout-link">Logout</a>
    </div>
    <form action="/greet" method="post" class="container">
        <input autocomplete="off" class="form-input" autofocus name="name" placeholder="Name" type="text">
        <button type="submit" class="submit-button">Greet</button>
    </form>
{% endblock %}
