{% extends "layout.html" %}

{% block head %}
    {{ super() }}  <!-- Retains the content of the head block from layout.html -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/index.css') }}">
    <title>Index Page</title>
{% endblock %}

{% block body %}
    <!-- Page specific content goes here -->
    <form action="/greet" method="post">
        <input autocomplete="off" autofocus name="name" placeholder="Name" type="text">
        <button type="submit">Greet</button>
    </form>
{% endblock %}
