{% extends "layout.html" %}

{% block head %}
    {{ super() }}  <!-- Retains the content of the head block from layout.html -->
    <title>home</title>
{% endblock %}

{% block body %}
    <div class="nav">
        <a class="nav-control home-link" href="{{ url_for('index') }}" >Home</a>
        <a class="nav-control logout-link" href="{{ url_for('logout') }}" >Logout</a>
    </div>
    <form action="/greet" method="post" class="container">
        <input autocomplete="off" class="form-input" autofocus name="name" placeholder="Name" type="text">
        <button type="submit" class="submit-button">Greet</button>
    </form>
{% endblock %}
