{% extends "layout.html" %}

{% block head %}
    {{ super() }}  <!-- Retains the content of the head block from layout.html -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/login.css') }}">
    <title>Login Page</title>
{% endblock %}

{% block body %}
    <form action="/login" method="post">
        <input name="username" placeholder="Username" type="text" required>
        <input name="password" placeholder="Password" type="password" required>
        <button type="submit">Login</button>
    </form>
    <p>New user? <a href="/register">Register here</a>.</p>
{% endblock %}
