{% extends "layout.html" %}

{% block head %}
    {{ super() }}  <!-- Retains the content of the head block from layout.html -->
    <title>register</title>
{% endblock %}

{% block body %}
    <form action="/register" method="post" class="container">
        <input name="username" class="form-input" placeholder="Username" type="text" required>
        <input name="password" class="form-input" placeholder="Password" type="password" required>
        <button type="submit" class="submit-button">Register</button>
        <p class="nav-control">Already have an account? <a href="/login">Login here</a>.</p>
    </form>
{% endblock %}
