{% extends "layout.html" %}

{% block head %}
    {{ super() }}  <!-- Retains the content of the head block from layout.html -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/register.css') }}">
    <title>Register</title>
{% endblock %}

{% block body %}
    <form action="/register" method="post">
        <input name="username" placeholder="Username" type="text" required>
        <input name="password" placeholder="Password" type="password" required>
        <button type="submit">Register</button>
    </form>
    <p>Already have an account? <a href="/login">Login here</a>.</p>
{% endblock %}
